.centered-modal-title {
    text-align: center;
}

.custom-border{
    border: 1px solid black;
}

.book-card{
    width: 115px;
    height: 220px;
}

.bookcard-footer{
    font-size: 12px;
    line-height: 16px;
    margin: 6px 0 0;
}

.book-cards-wrapper {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    margin-bottom: 20px;
    -ms-overflow-style: none; 
    scrollbar-width: none; 
}
  
.book-cards-wrapper::-webkit-scrollbar {
    display: none; 
}
  
.parent-element {
    overflow: hidden;
}

.no-select-a {
    user-select: none;
}

  
