{% extends 'base/main_base.html' %}

{% load static %}

{% block title %}Книги и аудиокниги онлайн!{% endblock title %}

{% block content %}
<section class="border border-bottom" style="background-color: rgb(238, 243, 251);">
    <div class="container-fluid mt-3 mb-3" style="max-width: 130vh;">
        <div class="row justify-content-center g-2">
            <!-- ========== Left Side ========== -->
            <div class="col-9">
                {% if user.is_authenticated %}
                <!-- ========== First Section ========== -->
                <div class="row justify-content-start align-items-start mb-3">
                    <div class="col">
                        <div class="container shadow bg-light">
                            <div class="row justify-content-center align-items-center g-2">
                                <div class="col-12 col-md-2 mb-2">
                                    <a href="" class="h6 text-dark" style="text-decoration: none;">Любимые жанры</a>
                                </div>
                                <div class="col-12 col-md-2 mb-2">
                                    <a href="" class="h6 text-dark" style="text-decoration: none;">Все жанры</a>
                                </div>
                                <div class="col align-content-end text-end">
                                    <button class="btn btn-sm ms-auto mb-2 custom-border">
                                        <img src="{% static 'image/icon-like.svg' %}" width="15px" class="mb-1">
                                        <img src="{% static 'image/icon-dislike.svg' %}" width="15px">
                                        Настроить мои предпочтения
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
                <!-- ========== Second Section ========== -->
                <div class="row justify-content-start align-items-start mb-3">
                    <div class="col">
                        <div class="container shadow bg-light">
                            <div class="row justify-content-start align-items-center">
                                <div class="col-9">
                                    <div class="h5 text-dark mt-1 d-flex align-items-center">
                                        <img src="{% static 'gif/ok-animated.gif' %}" width="20px" class="mr-2 me-1">
                                        <span>Популярное</span>
                                      </div>
                                    <p class="fs-6 text-muted">Самые популярные книги за сегодня. Список обновляется каждый час</p>
                                </div>
                                <div class="col-3 align-content-end text-end mt-4">
                                    <a href="" class="" style="color: rgb(87, 168, 229);text-decoration: none;">показать все ></a>
                                </div>
                            </div>
                            <div class="row">
                                <div id="popularBooksPanel">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ========== Third Section ========== -->
                <div class="row justify-content-start align-items-start mb-3">
                    <div class="col">
                        <div class="container shadow bg-light">
                            <div class="row justify-content-start align-items-center">
                                <div class="col-9">
                                    <div class="h5 text-dark mt-1 d-flex align-items-center">
                                        <img src="{% static 'gif/fire-animated.gif' %}" width="20px" class="mr-2 me-1"> 
                                        <span>Горячие новинки</span>
                                      </div>
                                    <p href="" class="fs-6 text-muted">Популярные новинки за последние две недели</p>
                                </div>
                                <div class="col-3 align-content-end text-end mt-4">
                                    <a href="" class="" style="color: rgb(87, 168, 229);text-decoration: none;">показать все ></a>
                                </div>
                            </div>
                            <div class="row">
                                <div id="newHotBooksPanel">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ========== Fourth Section ========== -->
                <div class="row justify-content-start align-items-start mb-3">
                    <div class="col">
                        <div class="container shadow bg-light">
                            <div class="row justify-content-start align-items-center">
                                <div class="col-9">
                                    <div class="col-9">
                                        <div class="h5 text-dark mt-1 d-flex align-items-center">
                                            <img src="{% static 'gif/refresh-animated.gif' %}" width="20px" class="mr-2 me-1"> 
                                            <span>Последние обновления</span>
                                        </div>
                                    </div>
                                    <p href="" class="fs-6 text-muted">Новые главы и фрагменты книг. Авторы выкладывают продолжение по мере написания</p>
                                </div>
                                <div class="col-3 align-content-end text-end mt-4">
                                    <a href="" class="" style="color: rgb(87, 168, 229);text-decoration: none;">показать все ></a>
                                </div>
                            </div>
                            <div class="row">
                                <div id="updatedBooksPanel">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ========== Fifth Section ========== -->
                <div class="row justify-content-start align-items-start mb-3">
                    <div class="col">
                        <div class="container shadow bg-light">
                            <div class="row justify-content-start align-items-center">
                                <div class="col-9">
                                    <div class="h5 text-dark mt-1 d-flex align-items-center">
                                        <img src="{% static 'gif/fire-animated.gif' %}" width="20px" class="mr-2 me-1"> 
                                        <span>Бестселлеры</span>
                                    </div>
                                    <p href="" class="fs-6 text-muted">Самые популярные книги по подписке</p>
                                </div>
                                <div class="col-3 align-content-end text-end mt-4">
                                    <a href="" class="" style="color: rgb(87, 168, 229);text-decoration: none;">показать все ></a>
                                </div>
                            </div>
                            <div class="row">
                                <div id="bestsellerBooksPanel">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ========== Sixth Section ========== -->
                <div class="row justify-content-start align-items-start mb-3">
                    <div class="col">
                        <div class="container shadow bg-light">
                            <div id="dashboardCard"></div>
                        </div>
                    </div>
                </div>
                <!-- ========== Seventh Section ========== -->
                <div class="row justify-content-start align-items-start mb-3">
                    <div class="col">
                        <div class="container shadow bg-light">
                            <div class="row justify-content-start align-items-center">
                                <div class="col-9">
                                    <div class="h5 text-dark mt-1 d-flex align-items-center">
                                        <img src="{% static 'gif/search-animated.gif' %}" width="20px" class="mr-2 me-1"> 
                                        <span>Вы интересовались</span>
                                    </div>
                                    <p href="" class="fs-6 text-muted">Книги, которые вы недавно просматривали, но так и не добавили в библиотеку</p>
                                </div>
                                <div class="col-3 align-content-end text-end mt-4">
                                    <a href="" class="" style="color: rgb(87, 168, 229);text-decoration: none;">показать все ></a>
                                </div>
                            </div>
                            <div class="row">
                                <div id="lastCheckBooksPanel">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ========== Eight Section ========== -->
                <div class="row justify-content-start align-items-start mb-3">
                    <div class="col">
                        <div class="container shadow bg-light">
                            <div class="row justify-content-start align-items-center">
                                <div class="col-9">
                                    <div class="h5 text-dark mt-1 d-flex align-items-center">
                                        <img src="{% static 'gif/fire-animated.gif' %}" width="20px" class="mr-2 me-1"> 
                                        <span>Новые поступления</span>
                                    </div>
                                    <p href="" class="fs-6 text-muted">Только что опубликованные произведения</p>
                                </div>
                                <div class="col-3 align-content-end text-end mt-4">
                                    <a href="" class="" style="color: rgb(87, 168, 229);text-decoration: none;">показать все ></a>
                                </div>
                            </div>
                            <div class="row">
                                <div id="newBooksPanel">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ========== Ninth Section ========== -->
                <div class="row justify-content-start align-items-start mb-3">
                    <div class="col">
                        <div class="container shadow bg-light">
                            <div class="row justify-content-start align-items-center">
                                <div class="col-9">
                                    <div class="h5 text-dark mt-1 d-flex align-items-center">
                                        <img src="{% static 'gif/star-animated.gif' %}" width="20px" class="mr-2 me-1"> 
                                        <span>Что сейчас читают</span>
                                    </div>
                                    <p href="" class="fs-6 text-muted">Книги, которые были добавлены в библиотеку</p>
                                </div>
                                <div class="col-3 align-content-end text-end mt-4">
                                    <a href="" class="" style="color: rgb(87, 168, 229);text-decoration: none;">показать все ></a>
                                </div>
                            </div>
                            <div class="row">
                                <div id="popularNewBooksPanel">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ========== Tenth Section ========== -->
                <div class="row justify-content-start align-items-start mb-3">
                    <div class="col">
                        <div class="container shadow bg-light">
                            <div class="row justify-content-start align-items-center">
                                <div class="col-9">
                                    <div class="h5 text-dark mt-1 d-flex align-items-center">
                                        <img src="{% static 'gif/heart-animated.gif' %}" width="20px" class="mr-2 me-1"> 
                                        <span>Читателям нравится</span>
                                    </div>
                                    <p href="" class="fs-6 text-muted">Произведения, которым поставили <img src="{% static 'gif/like-animated.gif' %}" width="20px"></p>
                                </div>
                                <div class="col-3 align-content-end text-end mt-4">
                                    <a href="" class="" style="color: rgb(87, 168, 229);text-decoration: none;">показать все ></a>
                                </div>
                            </div>
                            <div class="row">
                                <div id="mostLikesBooksPanel">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ========== Right Side ========== -->
            <div class="col-3 mt-0">
                <!-- ========== First Section ========== -->
                <div class="row justify-content-start align-items-start mb-3">
                    <div class="col">
                        <div class="container shadow bg-light">
                            <div class="row justify-content-start align-items-start">
                                <div class="col text-center">
                                    <div class="h6 text-dark mt-1 d-flex align-items-center justify-content-center">
                                      <img src="{% static 'gif/book-animated.gif' %}" width="20px" class="mr-2 me-1" style="display: inline-block; vertical-align: middle;">
                                      <span style="display: inline-block; vertical-align: middle;">Продолжить чтение</span>
                                    </div>
                                </div>
                            </div>
                            <div class="row justify-content-center align-items-center">
                                <div class="col">
                                    <div class="container">
                                        <div class="row justify-content-center align-items-center">
                                            <div class="col-6">КАРУСУЛЬКА</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ========== Second Section ========== -->
                <div class="row justify-content-start align-items-start mb-3">
                    <div class="col">
                        <div class="container shadow bg-light">
                            <div class="row justify-content-start align-items-start">
                                <div class="col text-center">
                                    <div class="h6 text-dark mt-1 d-flex align-items-center justify-content-center">
                                      <img src="{% static 'gif/discount-animated.gif' %}" width="20px" class="mr-2 me-1" style="display: inline-block; vertical-align: middle;">
                                      <span style="display: inline-block; vertical-align: middle;">Скидки</span>
                                    </div>
                                </div>
                            </div>
                            <div class="row justify-content-center align-items-center">
                                <div class="col">
                                    <div class="container">
                                        <div class="row justify-content-center align-items-center">
                                            <div class="col-6">КАРУСУЛЬКА</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ========== Third Section ========== -->
                <div class="row justify-content-start align-items-start mb-3">
                    <div class="col">
                        <div class="container shadow bg-light">
                            <div class="row justify-content-start align-items-start">
                                <div class="col text-center">
                                    <div class="h6 text-dark mt-1 d-flex align-items-center justify-content-center">
                                      <img src="{% static 'gif/comment-animated.gif' %}" width="20px" class="mr-2 me-1" style="display: inline-block; vertical-align: middle;">
                                      <span style="display: inline-block; vertical-align: middle;">Последние комментарии</span>
                                    </div>
                                </div>
                            </div>
                            <div class="row justify-content-center align-items-center">
                                <div class="col">
                                    <div class="container">
                                        <div class="row justify-content-center align-items-center">
                                            <div class="col-6">комменты</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ========== Fourth Section ========== -->
                <div class="row justify-content-start align-items-start mb-3">
                    <div class="col">
                        <div class="container shadow bg-light">
                            <div class="row justify-content-start align-items-start">
                                <div class="col text-center">
                                    <div class="h6 text-dark mt-1 d-flex align-items-center justify-content-center">
                                      <img src="{% static 'gif/star-animated.gif' %}" width="20px" class="mr-2 me-1" style="display: inline-block; vertical-align: middle;">
                                      <span style="display: inline-block; vertical-align: middle;">Самые ярые любители книг</span>
                                    </div>
                                </div>
                            </div>
                            <div class="row justify-content-center align-items-center">
                                <div class="col">
                                    <div class="container">
                                        <div class="row justify-content-center align-items-center">
                                            <div class="col-6">пользователи</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}