@font-face {
    font-family: 'BlinkMacSystemFont';
    src: url('./fonts/BlinkMacSystemFont-Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

a{
    text-decoration: none;
    color: black;
}

body {
    font-family: 'BlinkMacSystemFont', sans-serif; 
}

.background-image {
    background-size: cover;
    background-position: 50% 50%;
}

.text-small{
    font-size: 15px;
}

.input-container {
    position: relative;
}

.placeholder {
    position: absolute;
    top: 50%;
    left: 11%;
    transform: translate(-50%, -50%);
    pointer-events: none;
    color: gray; 
    font-size: 15px;
    transition: color 0.5s ease; 
}

.container-custom-active {
    border: 1px solid rgb(122, 122, 122); 
    border-radius: 10px;
    max-width: 80%;
}

.container-custom-none-active {
    border-radius: 10px;
    max-width: 80%;
}

.book-card{
    margin-bottom: 5px;
    background-color: rgb(255, 255, 255);

    border-radius: 30px 0 30px 0;
}

.box-default-user{
    background-color: rgb(167, 223, 255);
    border-radius: 8px;
    border: solid 1px rgb(0, 0, 0);
    width: 50px;
    height: 50px;
    padding: 3px;
    font-size: 11px;
    margin-bottom: 22px;

    user-select: none;
}

.box-writer-user{
    background-color: rgb(200, 255, 149);
    border-radius: 8px;
    border: solid 1px rgb(0, 0, 0);
    width: 50px;
    height: 50px;
    padding: 3px;
    font-size: 11px;
    margin-bottom: 22px;

    user-select: none;
}

.box-moderator-user{
    background-color: rgb(147, 255, 250);
    border-radius: 8px;
    border: solid 1px rgb(0, 0, 0);
    width: 50px;
    height: 50px;
    padding: 3px;
    font-size: 11px;
    margin-bottom: 22px;

    user-select: none;
}

.box-administrator-user{
    background-color: rgb(255, 132, 132);
    border-radius: 8px;
    border: solid 1px rgb(0, 0, 0);
    width: 50px;
    height: 50px;
    padding: 3px;
    font-size: 11px;
    margin-bottom: 22px;

    user-select: none;
}


.box-special-administration-user{
    background-color: rgb(255, 252, 75);
    border-radius: 8px;
    border: solid 1px rgb(0, 0, 0);
    width: 50px;
    height: 50px;
    padding: 3px;
    font-size: 11px;
    margin-bottom: 22px;

    user-select: none;
}


.box-support-user{
    background-color: rgb(222, 171, 238);
    border-radius: 8px;
    border: solid 1px rgb(0, 0, 0);
    width: 50px;
    height: 50px;
    padding: 3px;
    font-size: 11px;
    margin-bottom: 22px;

    user-select: none;
}


.box-marketing-department-user{
    background-color: rgb(200, 132, 255);
    border-radius: 8px;
    border: solid 1px rgb(0, 0, 0);
    width: 50px;
    height: 50px;
    padding: 3px;
    font-size: 11px;
    margin-bottom: 22px;

    user-select: none;
}

.box-CEO-user{
    background-color: rgb(255, 47, 47);
    border-radius: 8px;
    border: solid 1px rgb(0, 0, 0);
    width: 50px;
    height: 50px;
    padding: 3px;
    font-size: 11px;
    margin-bottom: 22px;

    user-select: none;
}