{% extends "base/auth_base.html" %}

{% load static %}

{% block title %}Регистрация - AT{% endblock title %}

{% block content %}
{% csrf_token %}

<main>
    <section class="vh-100">
        <div class="container-fluid h-custom">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <!-- Left Side -->
                <div class="col-md-9 col-lg-6 col-xl-5">
                    <img src="{% static 'image/icon-books.svg' %}" class="img-fluid">
                </div>

                <!-- Rigth Side -->
                <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
                    <div class="d-flex flex-row align-items-center justify-content-center justify-content-lg-start mb-3">
                        <p class="lead fw-normal mb-0 me-3">Быстрая регистрация с</p>
                        <a href="#" class="me-2"><img src="{% static 'image/icon-vk.svg' %}" width="25px"></a>
                        <a href="#" class="me-2"><img src="{% static 'image/icon-telegram.svg' %}" width="25px"></a>
                        <a href="#" class="me-1"><img src="{% static 'image/icon-google.svg' %}" width="25px"></a>
                        <a href="#"><img src="{% static 'image/icon-yandex.svg' %}" width="30px"></a>
                    </div>
        
                    <!-- Login input -->
                    <div class="form-outline mb-3">
                        <input onchange="checkUsername()" type="login" id="login-input" class="form-control form-control-lg" placeholder="k1rson" />
                        <div class="spinner-border text-danger spinner-border-sm d-none" id="spinner-login"></div>
                        <span id="check-mark-success-login" class="d-none" data-bs-toggle="tooltip" title="Данный логин свободен"><img src="{% static 'gif/success-animated.gif' %}" width="18px"></span>
                        <span id="check-mark-error-login" class="d-none" data-bs-toggle="tooltip" title="Данный логин уже занят/Логин не может быть больше 18 символов"><img src="{% static 'gif/warning-animated.gif' %}" width="18px"></span>
                        <label class="form-label">Придумайте псевдоним</label>
                    </div>
                    
                    <!-- Email input -->
                    <div class="form-outline mb-3">
                        <input id="email-input" onchange="checkEmail()" type="email" class="form-control form-control-lg" placeholder="ivanov@mail.ru" />
                        <div class="spinner-border text-danger spinner-border-sm d-none" id="spinner-email"></div>
                        <span id="check-mark-success-email" class="d-none" data-bs-toggle="tooltip" title="Отлично!"><img src="{% static 'gif/success-animated.gif' %}" width="18px"></span>
                        <span id="check-mark-error-email" class="d-none" data-bs-toggle="tooltip" title="Недопустимый формат Email/Email уже занят"><img src="{% static 'gif/warning-animated.gif' %}" width="18px"></span>
                        <label class="form-label">Ваш Email</label>
                    </div>
            
                    <!-- Password input -->
                    <div class="form-outline mb-3">
                        <input onchange="checkPassword()" type="password" id="password-input" class="form-control form-control-lg" placeholder="Введите Ваш пароль" />
                        <div class="spinner-border text-danger spinner-border-sm d-none" id="spinner-password"></div>
                        <span id="check-mark-success-password" class="d-none" data-bs-toggle="tooltip" title="Отлично!"><img src="{% static 'gif/success-animated.gif' %}" width="18px"></span>
                        <span id="check-mark-error-password" class="d-none" data-bs-toggle="tooltip" title="Пароль должен состоять, как минимум из 8 символов, содержать в себе хотя бы одну заглавную букву и одну строчную букву и хотя бы одну цифру"><img src="{% static 'gif/warning-animated.gif' %}" width="18px"></span>
                        <label class="form-label">Ваш пароль</label>
                    </div>
            
                    <!-- Registr Button -->
                    <div class="text-center text-lg-center">
                        <button onclick="registrUser()" id="button-registration" type="button" class="btn btn-outline-success" style="padding-left: 2.5rem; padding-right: 2.5rem;">Зарегистрироваться</button>
                        <p class="small fw-bold mt-2 pt-1 mb-0">Есть аккаунт? <a href="{% url 'login' %}" class="link-danger">Войти</a></p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

{% endblock content %}

{% block scripts %}
    <script src="{% static 'js/ajax-reg.js' %}"></script>
{% endblock scripts %}
